<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>DjangoProject</title>
     <link type="text/css" rel="stylesheet"
          href={% static 'bt523/css/bootstrap.css' %}>
    <SCRIPT SRC ='{% static 'bt523/js/bootstrap.js' %}'></script>
    <script src="https://kit.fontawesome.com/d886166b4a.js" crossorigin="anonymous"></script>
    <style>@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');</style>
    <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');</style>
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 bg-primary">
{#                {% include 'header.html' %}#}
                <div class="rounded m-3 fs-6" style="background: #c5e8ef">
    <div class="col-lg-12 ">
        <img src="{% static 'images/dcv.png' %}" class="m-1" style="vertical-align: middle; width: 150px;height: 150px;">
         <p class="text-white text-lg-center"style="font-size: 52px;">PomPam Shoes Shop</p>
    </div>

</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 bg-info text-dark">
           {% include 'menu.html' %}
        </div>
        <div class="col-lg-9 bg-secondary text-dark ">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>