{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="rounded m-3 fs-6" style="background: #f5c2c7">
   <div class="rounded m-3 fs-6" style="background: #f5c2c7">
        <div class="d-flex pt-3 bd-highlight">
            <div class="p-2 bg-warning flex-fill text-white" style="background: #0dcaf0 ">
             <h2><i class="fa-solid fa-user-hair-long"></i>ประวัติการศึกษา</h2>
            </div>
        </div>
<div class="m-2 pt-2">
            <img src="{% static 'images/12345.jpg' %}" class="rounded float-end img-thumbnail border border-info" alt="mypic" width="180">
         <div class="row pt-10">
          <div class="col-lg-20">
            <b>
                - จบการศึกษาชั้นประถมศึกษาปีที่ 6 ที่โรงเรียนบ้านนาจานบ่อแก้ววิทยาคาร<br>
                - จบการศึกษาชั้นมัธยมศึกษาปีที่ 3 ที่โรงเรียนบ้านนาจานบ่อแก้ววิทยาคาร<br>
                - จบการศึกษาระดับประกาศนียบัตรวิชาชีพชั้นปีที่ 3 ที่วิทยาลัยการอาชีพขอนแก่น <br>
                - จบการศึกษาระดับประกาศนียบัตรวิชาชีพชั้นสูงชั้นปีที่ 2 ที่วิทยาลัยการอาชีพขอนแก่น <br>
                - ปัจจุบันกำลังศึกษาที่มหาวิทยาลัยเทคโนโลราชมงคลอีสาน วิทยาเขตขอนแก่น<br>
                  ระดับปริญญาตรีชั้นปีที่ 3<br>
            </b>
          </div>

         </div>

        </div>
    </div>
{% endblock %}