{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="rounded m-3 fs-6" style="background: #f5c2c7">
   สิ่งที่สนใจ
    <div class="m-2 pt-2">
            <img src="{% static 'images/78.jpg' %}" class="rounded float-end img-thumbnail border border-info" alt="mypic" width="300">
         <div class="row pt-8">
          <div class="col-lg-10">
            <b>
                <b>ชอบการถ่ายรูปการท่องเที่ยว</b> คงมีหลายคนถาม ทำไมถึงชอบเที่ยวชอบถ่ายรูป มันเป็นสิ่งที่ทำให้มีความสุข รอยยิ้มผ่านเลนส์กล้อง
                เพราะภาพถ่ายมันคือตั๋วที่เราสามารถใช้กลับไปยังช่วงเวลาที่หายไปได้เสมอ เพราะมันคือความทรงจำที่ไม่มีวันหายไป แม้เวลาเปลี่ยนไปก็ตาม
                การถ่ายภาพคือการบันทึกช่วงเวลาหนึ่งไว้ รวมถึงความทรงจำที่คุณมีลงในภาพถ่ายด้วย ในช่วงชีวิตของคุณ คุณอาจเคยไปท่องเที่ยวตามที่ต่างๆ
                และมันอาจจะเป็นแค่เพียงครั้งเดียว ในชีวิตที่คุณจะได้ไปเยือน ณ ที่นั้น หรือภาพถ่ายช่วงเวลา เมื่อเวลาถ่ายไปนานหลายสิบปีแต่ภาพถ่ายไม่เคยเปลี่ยน
                และในทุกครั้งที่คุณหยิบภาพมาดูควมรู้สึกและความทรงจำที่บรรจุอยู่ในภาพเหล่านั้นจะย้อนเวลาพาคุณกลับไปยังช่วงเวลาเหล่านั้นอีกครั้ง

            </b>
          </div>

         </div>

        </div>
    </div>
{% endblock %}