{% load static %}
<ul class="list-group">
    <li class="list-group-item"><a href="{% url 'home' %}"> Home Page  </a> </li>
    <li class="list-group-item"><a href="{% url 'myinfo' %}"> ประวัติส่วนตัว  </a> </li>
    <li class="list-group-item"><a href="{% url 'education' %}"> ประวัติการศึกษา  </a> </li>
    <li class="list-group-item"><a href="{% url 'sales' %}"> สินค้า  </a> </li>
    <li class="list-group-item"><a href="{% url 'rloemodel' %}"> บุคคลต้นแบบ  </a> </li>
    <li class="list-group-item"><a href="{% url 'interest' %}"> สิ่งที่สนใจ  </a> </li>


</ul>