{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="rounded m-3 fs-6" style="background: #f5c2c7">
   <d>ตูน บอดี้สแลม</d><br>
    <div class="m-2 pt-2">
            <img src="{% static 'images/789.jpg' %}" class="rounded float-end img-thumbnail border border-info" alt="mypic" width="300">
         <div class="row pt-10">
          <div class="col-lg-10">
            <b>
                     ปรากฏการณ์จากก้าวเล็ก ๆ ที่ยิ่งใหญ่ของ ตูน บอดี้สแลม ที่รวมน้ำใจของคนทั้งประเทศไว้ด้วยกัน
                ไม่ใช่แค่เป็นไอดอลในเรื่องของความฝันสำหรับคนที่อยากจะเป็นนักร้องนักดนตรีเท่านั้น แต่ตูน บอดี้สแลม
                ยังเป็นผู้ปลุกกระแสให้คนออกมาก้าวทำความดีไปกับเขาในโครงการก้าวคนละก้าว ด้วยการวิ่งเพื่อรับบริจาคจาก
                เบตง จ.ยะลา สู่ อ.แม่สาย จ.เชียงราย ผ่านเส้นทางกว่า 2,215 กิโลเมตร เพื่อนำเงินมาจัดซื้ออุปกรณ์ทางการแพทย์ให้กับรพ.
                ที่ขาดแคลน การวิ่งครั้งนั้นของตูน บอดี้สแลม มีผู้ร่วมบริจาคสูงถึง 1.2 พันล้านบาทเลยทีเดียว แต่นั่นไม่ใช่ครั้งแรกและครั้งเดียว
                เพราะทุกวันนี้โครงการก้าวคนละก้าวยังคงก้าวต่อไป และไม่ได้มีเพียง ตูน บอดี้สแลมที่ก้าวคนเดียวแต่ยังมีเพื่อนศิลปิน นักแสดง
                ผู้คนอีกหลากหลายสาขาอาชีพ มาร่วมกันก้าวเพื่อหาระดมทุนทรัพย์เพื่อส่งต่อน้ำใจต่อรพ.ที่ยากไร้ต่อไป
            </b>
          </div>

         </div>

        </div>
    </div>
{% endblock %}