{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="rounded m-3 fs-6" style="background: #f5c2c7">
   <div class="d-flex pt-3 bd-highlight">
            <div class="p-2 bg-danger flex-fill text-white">
             <h2><img src="{% static 'images/dcv.png' %}" alt="com" width="75px"> PomPam Shoes Shop</h2>
            </div>
        </div>
           <div class="row pt-5 mb-3">

        <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/141.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">รองเท้า adidas</h5>
                    <p class="card-text">1,499</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
           <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/142.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">รองเท้า nike</h5>
                    <p class="card-text">1,599</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
                <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/143.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">รองเท้า converse</h5>
                    <p class="card-text">1,299</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
               <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/144.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">รองเท้า Keds</h5>
                    <p class="card-text">1,099</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
               <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/145.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">รองเท้า New balance</h5>
                    <p class="card-text">1,399</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
               <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/146.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">รองเท้า Onitsuka Tiger</h5>
                    <p class="card-text">1,199</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
               <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/147.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">รองเท้า  Reebok</h5>
                    <p class="card-text">1,099</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
               <div class="col-md-3 ">
            <div class="card h-100 mx-auto cards" style="width: 13rem;">
                <a href="#">
                    <img src="{% static 'images/148.jpg' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body justify-content-start">
                    <h5 class="card-title">รองเท้า  Lacoste</h5>
                    <p class="card-text">1,399</p>
                    <a href="#" class="btn btn-primary">Buy.</a>
                </div>
            </div>
        </div>
</div>
</div>

{% endblock %}
