{%  extends 'base.html' %}
{% block content %}
    {% load static %}
    {% load humanize %}
     <div class="rounded m-3 bg-white" style="height: 100%; font-family: 'Prompt', sans-serif; font-size:16px;">
    <div class="d-flex pt-3 bd-highlight">
            <div class="p-2 bg-danger flex-fill text-white" style="font-family:'Yellowtail', cursive;">
             <h2><img src="{% static 'images/py.png' %}" alt="com" width="75px"> GoodsList</h2>
            </div>
        </div>
        <div class="rounded m-3 bg-white" style="font-weight: bold;">
    <table class="table table-danger table-hover table-striped table-bordered">
        <tr>
            <th>Category</th>
            <th>GoodsID</th>
            <th>GoodsName</th>
            <th>Brand</th>
            <th>Price</th>
            <th><a href="{% url 'newGoods' %}">
                <i class="fa fa-plus-square"></i>
             </a></th>
        </tr>
    {% for goods in result  %}
        <tr>
        <td>{{ goods.g_category }}</td>
            <td>{{ goods.gid }}</td>
        <td>{{ goods.g_name }}</td>
        <td>{{ goods.brand}}</td>
        <td>{{ goods.price|intcomma}}</td>
        <td>
            <a href="{% url 'goodsOne' gid=goods.gid %}">
                <i class="fa fa-clone"></i>
             </a>
            <a href="{% url 'goodsUpdate' goods.gid %}">
                <i class="fa fa-edit"></i>
             </a>
            <a href="{% url 'goodsDel' goods.gid %}" onclick="return confirm('Are you sure you want to delete this item?');">
                <i class="fa fa-delete-left"></i>
             </a>
        </td>
        </tr>
    {% endfor %}
    </table>
     </div>
     </div>
{% endblock %}