{%  extends 'base.html' %}
{% block content %}
    {% load static %}
    {% load humanize %}
     <div class="rounded m-3 bg-white" style="height: 100%; font-family: 'Prompt', sans-serif; font-size:22px;">
    <div class="d-flex pt-3 bd-highlight">
            <div class="p-2 bg-danger flex-fill text-white" style="font-family:'Yellowtail', cursive;">
             <h2><img src="{% static 'images/py.png' %}" alt="com" width="75px"> GoodsList</h2>
            </div>
        </div>
         <br>
    <table class="table table-danger table-striped">
        <tr>
            <th>ประเภท</th>
            <th>ข้อมูล</th>
        </tr>
        <tr>
            <td>ประเภท</td>
            <td>{{form.g_category}}</td>
        </tr>

        <tr>
            <td>รหัสสินค้า</td>
            <td>{{form.gid}}</td>

        </tr>
        <tr>
            <td>ยี่ห้อ</td>
            <td>{{form.brand}}</td>
        </tr>
        <tr>
            <td>ชื่อสินค้า</td>
            <td>{{form.g_name}}</td>
        </tr>
        <tr>
            <td>ราคา</td>
            <td>{{form.price}}</td>
        </tr>
        <tr>
            <td>จำนวนคงเหลือ</td>
            <td>{{form.Net}}</td>
        </tr>
         <tr>
            <td>รายละเอียด</td>
            <td>{{form.product}}</td>
        </tr>

    </table>
     </div>
{% endblock %}